 <!-- Navbar -->
 <nav class="navbar navbar-expand-xxl bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Buon Appetito</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto text-center">
       
        <li class="nav-item navbar-text px-2">
          <a href="/" class="nav-link ">
             Public View</a
          >
        </li>
        <li class="nav-item navbar-text px-2">
          <a  class="nav-link disabled">
            Edit Home</a
          >
        </li>
        <li class="nav-item navbar-text px-2">
          <a class="nav-link disabled">
            Edit About Us</a
          >
        </li>
        <li class="nav-item navbar-text px-2">
          <a href="/admin/menu" class="nav-link">
            Edit Menu</a
          >
        </li>
        <li class="nav-item navbar-text px-2">
          <a class="nav-link disabled">
            Edit Banuets</a
          >
        </li>
        <li class="nav-item navbar-text px-2">
          <a  class="nav-link disabled">
            Edit Contact Us</a
          >
        </li>
        <li class="nav-item navbar-text px-2">
          <a href="/admin/menu/new" class="nav-link">
            Add New Menu Item</a
          >
        </li>
        <li class="nav-item navbar-text px-2">
          <a href="/logout" class="nav-link">
            <i class="fas fa-sign-out-alt"></i> Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>