<div class="container my-5">
  <footer class="text-lg-start">
    <div class="container p-4">
      <div class="row mt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 text-center">About Buon Appetito</h5>
          <p>
            Our restaurants offers contemporary Italian cuisine in a charming atmosphere.
            We offer homemade bread, pastas and desserts.
            We also have daily Lunch & Dinner Chef Specials.
            Dine in or Take Out.
          </p>
          
          <div class="mt-4 d-flex justify-content-around">
            <!-- Facebook & Yelp -->
            <a type="button" href="https://www.yelp.com/biz/buon-appetito-restaurant-hayward" target="_blank"><i class="fab fa-facebook"></i></a>
            <a type="button" href="https://www.facebook.com/Buon-Appetito-Restaurant-171110946426902/" target="_blank"><i class="fab fa-yelp"></i></a>
          </div>
          <hr class="my-5 d-lg-none" />
        </div>

        <div class="col-lg-4 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 pb-1 text-center">Location</h5>
          <div class="d-flex justify-content-center">
            <ul class="fa-ul">
              <li class="mb-3 locationLink">
                <a class="text-decoration-none text-dark" href="http://maps.google.com/?q=917 A Street Hayward, CA 94541">
                  <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-1">917 A Street, Hayward, CA 94541</span>
                </a>
              </li>
              <li class="mb-3 locationLink">
                <a class="text-decoration-none text-dark" href="">
                  <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-1">contact@buonappetito.com</span>
                </a>
              </li>
              <li class="mb-3 locationLink">
                <a class="text-decoration-none text-dark" href="tel:5102470120">
                  <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-1">(510) 247-0120</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <hr class="my-5 d-lg-none" />
        <div class="col-lg-4 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4 text-center">Opening hours</h5>

          <table class="table text-center">
            <tbody class="fw-normal">
              <tr>
                <td>Monday:</td>
                <td>11:30am - 10:00pm</td>
              </tr>
              <tr>
                <td>Tuesday:</td>
                <td>11:30am - 10:00pm</td>
              </tr>
              <tr>
                <td>Wednesday:</td>
                <td>11:30am - 10:00pm</td>
              </tr>
              <tr>
                <td>Thursday:</td>
                <td>11:30am - 10:00pm</td>
              </tr>
              <tr>
                <td>Friday:</td>
                <td>10:00am - 11:00pm</td>
              </tr>
              <tr>
                <td>Saturday:</td>
                <td>10:00am - 11:00pm</td>
              </tr>
              <tr>
                <td>Sunday:</td>
                <td>10:00am - 10:00pm</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © Buon Appetito. All rights reserved.
    </div>
  </footer>
</div>
