<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-success">
  <div class="container-fluid">
    <a class="navbar-brand">
      <span class="fw-bold text-white">Buon Appetito</span>
    </a>

    <!-- toggle button for mobile nav -->
    <button class="navbar-toggler" id="testButton" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- navbar links -->


      <div class="collapse navbar-collapse justify-content-end" id="main-nav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/banquets">Banquets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>

    
  </div>
</nav>