 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #000000;">
  <div class="container-fluid">
    <a class="navbar-brand ps-3" href="/">Buon Appetito</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto text-center">
        <li class="nav-item navbar-text px-2">
          <a href="/" class="nav-link">
            Home</a
          >
        </li>
        <li class="nav-item navbar-text px-2">
          <a href="/about" class="nav-link">
           About Us</a
          >
        </li>
        <li class="nav-item navbar-text px-2">
          <a href="/menu" class="nav-link">
           Menu</a
          >
        </li>
        <li class="nav-item navbar-text px-2">
          <a href="/banquets" class="nav-link">
            Banquets</a
          >
        </li>
        <li class="nav-item navbar-text px-2">
          <a href="/contact" class="nav-link">
            Contact Us</a
          >
        </li>
        <li class="nav-item navbar-text px-2">
          <a href="/admin/menu" class="nav-link">
            <i class="fas fa-user-cog"></i> Admin</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>