:root {
  --primary-color: #0a1118;
  --primary-color-hightlight: #233d54;
  --bs-body-bg: #fdf2e2ee;
  --bs-body-font-family: 'Montserrat', sans-serif;
}


.heroDiv{
  height: 70vh;
}
.heroBgImage {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}


.announcements {
  border: 1px solid yellow;
  height: 50vh;
}
.announcementImage {
  background-color: red;
}


.announcementText {
  background-color: blue;
}
.announcementText h1 {

}
