<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { page: 'Admin Menu' }) %>
  <body>
    <%- include('partials/adminNav.ejs') %>

    <div class="container">

      <div class="row">

        <div class="col-11">
          <h1 class="display-4 text-center">
            Chef's <i>Speciale</i> of the Week!
          </h1>
        </div>

        <!-- Add Chef Specials Button -->
        <div class="col-1">
          <button type="button" class="btn btn-info">
            <a href="/menu/new">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-plus-square-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                />
              </svg>
            </a>
          </button>

          <!-- Edit Chef's Special -->
          <button type="button" href="/menu/:id/edit" class="btn btn-danger">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pencil-square"
            viewBox="0 0 16 16"
            >
            <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            />
            <path
            fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
            />
          </svg>
        </button>
      </div>
      <section>
        <div class="container">
          <p class="display-4">Full Menu</p>
          <div class="row">
            <div class="col">
              <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#lunchMenu" aria-expanded="false" aria-controls="lunchMenu">
                  Lunch Menu
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#dinnerMenu" aria-expanded="false" aria-controls="dinnerMenu">
                  Dinner Menu
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#lunchAndDinnerMenu" aria-expanded="false" aria-controls="lunchAndDinnerMenu">
                  Lunch & Dinner
                </button>
              </p>
              <div class="collapse" id="lunchMenu">
                <div class="card card-body">
                  Some placeholder content for the Lunch Menu
                </div>
              </div>
              <div class="collapse" id="dinnerMenu">
                <div class="card card-body">
                  Some placeholder content for the Dinner Menu
                </div>
              </div>
              <div class="collapse" id="lunchAndDinnerMenu">
                <div class="card card-body">
                  Some placeholder content for the Lunch & Dinner Menu
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </section>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="card-group mt-3">

        <div class="col">
          <div class="card shadow mx-3" >
            <img
              src="https://s3-media0.fl.yelpcdn.com/bphoto/dozRbBpphuDNoAfpNA_dqQ/o.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow mx-3" >
            <img
              src="https://s3-media0.fl.yelpcdn.com/bphoto/oeqZFzBp7SRq5fxFAyylDg/o.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow mx-3" >
            <img
              src="https://s3-media0.fl.yelpcdn.com/bphoto/SEbwqKZ2af8vFfzebNx2yA/o.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow mx-3" >
            <img
              src="https://s3-media0.fl.yelpcdn.com/bphoto/ClpCM6hsfLUT9vqXi2_hjw/o.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        
      </div>
    </div>

  </body>
</html>
