<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { page: 'Add Menu Item'}) %>
  <body>
    <%- include('partials/nav.ejs') %>
    <div class="container">
      
      <div class="row">
        <div class="col-12">
          <h1 class="display-4 text-center">Add New Menu Item</h1>
        </div>
      </div>
      
      <div class="row">

        <div class="col-2"></div>

        <div class="col">
          
          <form action="/menu" method="POST">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Name</span>
              <input
                name="dishName"
                id="dishName"
                type="text"
                class="form-control"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Description:</span>
              <textarea
                name="description"
                id="description"
                class="form-control"
                aria-label="With textarea"
                type="text"
              ></textarea>
            </div>

            <div class="d-flex">
              <label for="lunchPrice" class="form-label p-2">Lunch Price</label>
              <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input
                  name="lunchPrice"
                  id="lunchPrice"
                  type="number"
                  class="form-control"
                  aria-label="Amount (to the nearest dollar)"
                />
              </div>
    
              <label for="dinnerPrice" class="form-label p-2">Dinner Price</label>
              <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input
                  name="dinnerPrice"
                  id="dinnerPrice"
                  type="number"
                  class="form-control"
                  aria-label="Amount (to the nearest dollar)"
                />
              </div>
            </div>
  
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3"
                >Photo (optional)</span
              >
              <input
                name="foodPhoto"
                id="foodPhoto"
                type="text"
                class="form-control"
                aria-describedby="basic-addon3"
              />
            </div>
  
            <div class="col-md">
              <div class="form-floating">
                <select
                  name="category"
                  class="form-select form-control"
                  id="floatingSelectGrid"
                  aria-label="Floating label select example"
                >
                  <option selected>Food Category</option>
                  <option value="Appetizers">Appetizers</option>
                  <option value="Soup and Salad">Soup and Salad</option>
                  <option value="Pasta">Pasta</option>
                  <option value="Sandwiches">Sandwiches</option>
                  <option value="Meat and Poultry">Meat and Poultry</option>
                  <option value="Pizza">Pizza</option>
                  <option value="Seafood">Seafood</option>
                  <option value="Dessert">Dessert</option>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
        </div>
        
        <div class="col-2"></div>

      </div>
    </div>
  </body>
</html>
