<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { page: 'Add Menu Item'}) %>
  <body>
    <%- include('partials/adminNav.ejs') %>

    <section class="vh-100" style="background-color: #117a0dab;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem; border: 0;">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                  <img
                    src="/images/food/freshInhredients.jpg"
                    alt="login form"
                    class="img-fluid" style="border-radius: 1rem 0 0 1rem; height:100%;"
                  />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
    
                    <form action="/admin/menu" method="POST">
    
                      <div class="d-flex align-items-center mb-3 pb-1">
                        <i class="bi bi-plus-circle-fill me-3" style="color: #940909;"></i>
                        <span class="display-6  mb-0">Add New Menu Item</span>
                      </div>
    
                      <div class="form-outline mb-2">
                        <input type="text" name="dishName" class="form-control form-control-lg"
                        required />
                        <label class="form-label" for="form2Example17">Name</label>
                      </div>
    
                      <div class="form-outline mb-2">
                        <input name="description" type="text" class="form-control form-control-lg"
                        required />
                        <label class="form-label" for="form2Example27">Description</label>
                      </div>
  
                      <div class="form-outline mb-2">
                        <input name="foodPhoto" type="text" class="form-control form-control-lg"/>
                        <label class="form-label" for="foodPhoto">Image</label>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-outline mb-2">
                            <div class="input-group">
                              <span class="input-group-text">$</span>
                              <input type="number" name="lunchPrice" class="form-control form-control-lg"
                              required />
                            </div>
                            <label class="form-label" for="form2Example17">Lunch Price</label>
                          </div>
                        </div>
                        <div class="col-md-6">
  
                          <div class="form-outline mb-2">
                            <div class="input-group">
                              <span class="input-group-text">$</span>
                              <input type="number" name="dinnerPrice" class="form-control form-control-lg"
                              required />
                            </div>
                            <label class="form-label" for="form2Example17">Dinner Price</label>
                          </div>
                        </div>
                      </div>

                      <div class="form-outline mb-2">
                        <select
                          name="category"
                          class="form-select form-control input"
                          id="floatingSelectGrid"
                          aria-label="Floating label select example"
                        >
                          <option selected>Food Category</option>
                          <option value="Appetizers">Appetizers</option>
                          <option value="Soup and Salad">Soup and Salad</option>
                          <option value="Pasta">Pasta</option>
                          <option value="Sandwiches">Sandwiches</option>
                          <option value="Meat and Poultry">Meat and Poultry</option>
                          <option value="Pizza">Pizza</option>
                          <option value="Seafood">Seafood</option>
                          <option value="Dessert">Dessert</option>
                        </select>
                        
                      </div>
                      <input type="hidden" name="user" value="<%= user %>">
                      <div class="pt-2 mb-4">
                        <button class="btn btn-success btn-lg btn-block" type="submit">Create</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
