<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', { page: 'Show Item'}) %>
  <body>
    <%- include('partials/nav.ejs') %>
    <h1>Menu Item Show Page</h1>
    <div class="col">
      <div class="card shadow" >
        <img
          src="https://s3-media0.fl.yelpcdn.com/bphoto/dozRbBpphuDNoAfpNA_dqQ/o.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up
            the bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
