<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { page: 'About Us'}) %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="container my-3">
      <div class="row">
        <!-- padding div -->
        <div class="col-2"></div>
        <div class="col-8">
          <!-- About Us - Owner Card information -->
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://02f0a56ef46d93f03c90-22ac5f107621879d5667e0d7ed595bdb.ssl.cf2.rackcdn.com/sites/17971/photos/464166/Martin20180429-5783-15iz7d0_960x.jpg"
                  class="img-fluid rounded-start"
                  style="width: auto; height: 100%"
                  alt="..."
                />
              </div>
              <div class="col-8">
                <div class="card-body">
                  <h5 class="card-title text-center">Meet the Chef & Owner!</h5>
                  <p class="card-text">
                    With over 28 experience in the restaurant business, chef
                    Martino is hands-on, working daily to create healthy,
                    beautiful, and tasty cuisine. Working with fresh, local
                    products and an a highly trained staff, Buon Appetito is one
                    of the best restaurants in the Bay area.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- padding div -->
        <div class="col-2"></div>
      </div>

      <div class="row">
        <!-- padding div -->
        <div class="col-2"></div>
        <div class="col-8">
          <!-- About Restaurant Card -->
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://s3-media0.fl.yelpcdn.com/bphoto/7zCl8pD5RUwu83rmbvxfig/o.jpg"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-center">About Buon Appetito</h5>
                  <p class="card-text">
                    Our restaurant offers contemporary Italian cuisine in a
                    charming atmosphere. We offer homemade bread, pasta, and
                    desserts. We also have daily Lunch & Dinner Chef Specials.
                    Dine-in or Take-Out.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- padding div -->
        <div class="col-2"></div>
      </div>
    </div>
  </body>
</html>
