<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', { page: 'Home'}) %>
  <body class="bg-danger">
    <%- include('../partials/nav.ejs') %>
    
    
    <div class="container-fluid"> 

      <div class="row">
        <div class="col">
          <!-- Homepage carousel -->
          <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1499174549139-68d3f37243b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2102&q=80" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1535063406830-27dfae54262a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2100&q=80" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card-group mt-3 text-center">
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="card text-white bg-success m-1">
              <div class="card-header">Homemade Pasta</div>
              <div class="card-body">
                <h5 class="card-title">Made Daily</h5>
                
              </div>
              <img src="https://02f0a56ef46d93f03c90-22ac5f107621879d5667e0d7ed595bdb.ssl.cf2.rackcdn.com/sites/17971/photos/798458/Pasta1_960x960_circle.png" class="card-img-bottom" alt="...">
            </div>
          </div>
  
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="card text-white bg-success m-1">
              <div class="card-header">New Dish Alert!</div>
              <div class="card-body">
                <h5 class="card-title">Veal Piccatta</h5>
              </div>
              <img src="https://02f0a56ef46d93f03c90-22ac5f107621879d5667e0d7ed595bdb.ssl.cf2.rackcdn.com/sites/17971/photos/794572/Veal_Piccatta_960x960_circle.png" class="card-img-bottom" alt="...">
            </div>
          </div>
  
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="card text-white bg-success m-1">
              <div class="card-header">Party with us!</div>
              <div class="card-body">
                <h5 class="card-title">Banquets Available</h5>
              </div>
              <img src="https://s3-media0.fl.yelpcdn.com/bphoto/7zCl8pD5RUwu83rmbvxfig/o.jpg" class="card-img-bottom rounded-circle" id="banquetImg" alt="...">
            </div>
          </div>
  
          <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="card text-white bg-success m-1">
              <div class="card-header">New Dish Alert!</div>
              <div class="card-body">
                <h5 class="card-title">Veal Parmesan</h5>
              </div>
              <img src="https://02f0a56ef46d93f03c90-22ac5f107621879d5667e0d7ed595bdb.ssl.cf2.rackcdn.com/sites/17971/photos/794570/Veal_Parmesan_960x960_circle.png" class="card-img-bottom" alt="...">
            </div>
          </div>
        </div>


      </div>

    </div>
    
  </body>
</html>
