
#menuDishNameAnchor {
  color: green;
}
#about, #banquets, #contact {
  background-image: url(../images/UnderConstruction.png) ;
  background-position: center;
  background-position-x: right;
  height: 100vh;
}
#signInbg, #registerBg {
  background-image: url(../images/food_bg.jpg) ;
  background-position: center;
  background-position-x: right;
  height: 100vh;
}

#signInForm {
  background-color: antiquewhite;
  padding: 50px 25px;
  border-radius: 10px;
}



.specialsCardImg, .homeAnnouncemenCardsImg {
  float: left;
  width:  100%;
  height: 300px;
  object-fit: cover;

}

body {
  background-color: #D3D3D3;
}

.card {
  border: none;
}

.fa-yelp {
  color: #C41200;
  font-size:3rem;
}

.fa-facebook {
  font-size:3rem;
}

.fa-yelp:hover, .fa-facebook:hover {
  transform: scale(1.4);
}

.landingRow {
  background-image: url('../images/food/wine.jpg');
  position: relative;
  background-size: cover;
  background-position: left;
  min-height: 95vh;
}

.foodItemImage {
  height: fit-content;
}
